<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Fashion Advisor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Chat Room</h1>
            <h3>天気＆おすすめの服装</h3>
            <div class="menu-container">
                <input type="checkbox" id="menu-toggle" class="menu-checkbox">
                <label for="menu-toggle" class="menu-button">
                    <span class="hamburger"></span>
                </label>
                <div class="menu-content">
                    <div class="gender-toggle-container">
                        <span class="gender-label">男性/女性</span>
                        <label class="switch">
                            <input type="checkbox" id="genderToggle">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <button id="clearHistory" class="menu-button">💫 履歴をクリア</button>
                </div>
            </div>
        </header>
        <main>
            <div class="chat-container">
                <div class="chat-messages" id="chat-messages">
                    <div class="message bot-message">
                        <div class="avatar">AI</div>
                        <div class="message-content">
                            こんにちは！都市名を入力して<br>
                            天気とおすすめの服装を確認してください！<br>
                            一部の都市では、天気予報が取得できない場合があります。<br>
                            おすすめの服装を男女で分けて表示されるため、<br>
                            男性はスライドボタンが青の状態<br>
                            女性はスライドボタンが赤の状態<br>
                            にすると、おすすめの服装が表示されます。
                        </div>
                    </div>
                </div>
                
                <div class="chat-input">
                    <form id="chat-form">
                        <input type="text" id="user-input" placeholder="都市名を入力..." autocomplete="off">
                        <div class="gender-toggle">
                            <input type="checkbox" id="genderToggle" class="toggle-input">
                            <label for="genderToggle" class="toggle-label">
                                <span class="male">男性</span>
                                <span class="female">女性</span>
                            </label>
                        </div>
                        <button type="submit">送信</button>
                        <button type="button" id="saveShortcutButton">登録</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>