<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お天気AI ChatBOT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Chat Room</h1>
            <h3>天気＆おすすめの服装</h3>
            <div class="menu-toggle" id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-content" id="menuContent">
                <div id="shortcut-list">
                    <h4>登録された地域</h4>
                    <ul id="shortcuts"></ul>
                </div>
                <button id="clearButton">クリア</button>
                <button id="reloadButton">リロード</button>
            </div>
        </header>
        <main>
            <div class="chat-container">
                <div class="chat-messages" id="chat-messages">
                    <div class="message bot-message">
                        <div class="avatar">AI</div>
                        <div class="message-content">
                            こんにちは！都市名を入力して<br>
                            天気とおすすめの服装を確認してください！<br>
                            一部の都市では、天気予報が取得できない場合があります。<br>
                            おすすめの服装を男女で分けて表示されるため、<br>
                            男性はスライドボタンが青の状態<br>
                            女性はスライドボタンが赤の状態<br>
                            にすると、おすすめの服装が表示されます。
                        </div>
                    </div>
                </div>
                
                <div class="chat-input">
                    <form id="chat-form">
                        <input type="text" id="user-input" placeholder="都市名を入力..." autocomplete="off">
                        <div class="gender-toggle">
                            <input type="radio" id="male" name="gender" value="male" class="toggle-input" checked>
                            <label for="male" class="toggle-label">男性</label>
                            <input type="radio" id="female" name="gender" value="female" class="toggle-input">
                            <label for="female" class="toggle-label">女性</label>
                        </div>
                        <button type="submit">送信</button>
                        <button type="button" id="saveShortcutButton">登録</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>